# 行以#开始，表示是注释 ,将被 Git 忽略

# 忽略所有 class 后缀的文件
*.class

# 忽略所有svn信息文件
.svn/

# 项目自身文件
/logs/

# 忽略所有包文件
*.war
*.ear

# ----------------------------> Eclipse 文件忽略
.settings/
build/
.classpath
.project
*.pydevproject
.metadata
.mymetadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# ----------------------------> Maven 文件忽略
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# ----------------------------> idea 文件忽略
.idea/
/out/
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties